<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
>
	<testsuites>
		<testsuite name="EasyRankly">
			<file>tests/test-robots-and-custom-code.php</file>
			<file>tests/test-schema.php</file>
			<file>tests/test-sitemap.php</file>
		</testsuite>
	</testsuites>
</phpunit>
